body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../img/galaxy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");


li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/*MAIN*/


.chat {
    width: 80vw;
    height: 80vh;
    background: #010101;
    border-radius: 30px;
    box-shadow: 0 5px 15px #010101;
}

.Chat-Container {

}

.Chat-Wrapper {

}


/*HEADER*/

.chat-head {
    width: 100%;
}

.chat-head form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-head form .form_sec {
    width: 200px;
    height: 45px;
    padding: 0 0 0 20px;
    border-radius: 20px;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    color: cyan;
}

.chat-head form .form_sec input {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #1a1a1a;
    color: cyan;
}

.chat-head form .form_sec .icon {
    margin-right: 10px;
}

.chat-head form .form_sec .icon i {
    color: cyan;
    fill: #fff;
}

.chat-head form .avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #1a1a1a;
    object-fit: cover;
}

/*Chat name*/

.shine {
    color: blue;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 60px;
    color: #fff;
    text-shadow: 10px 10px 30px #2400ff, -10px -10px 30px #7e2bd9;
    -webkit-text-stroke: 2px #e2d5e2;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    height: 70px;
    position: relative;
    text-align: center;
    top: 0;
}

/* list start */

.Chat-list {
    margin-top: 30px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

scroll-container {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 10px 0 0 0px;
    flex-wrap: nowrap;
    /*
    width: 45vw;
    */
    height: 70vh;
    border: solid #e2d5e2;
}

scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}

.user-name {
    color: cyan;
    font-size: 18px;
    align-self: flex-start;
    margin: 0 0 5px 5px;
}

.enemy-message-wrapper {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    margin: 5px 0 5px 0;
}

.user-avatar {
    width: 80px;
    height: 80px;
    background: #1a1a1a;
    object-fit: cover;
    border-radius: 20px;
    margin: 5px;
}


.text-message {
    color: cyan;
    font-size: 18px;
    padding-left: 5px;
    align-self: flex-start;
}

/*MessageForm*/
.message-form {
    height: 80px;
    border: solid #c4102b;
    margin: 4px 0 4px 0px;
    background-color:cadetblue;
}


/*Footer*/

.footer {
    /*
    width: 45vw;
    */
    border: solid #e2d5e2;
    margin: 0 0 0 0px;
}

.menu ul {
    width: 45vw;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: cyan;
}

.menu ul li {
    cursor: pointer;
    color: cyan;
}